.DS_Store
._.DS_Store

/.gradle
/.idea/dataSources*
/.idea/dictionaries*
/.idea/encodings.xml
/.idea/markdown-navigator*
/.idea/shelf/
/.idea/workspace.xml
/build
/cpic-data.wiki
/logs
/out
/src/main/node/node_modules
/src/main/resources/cpicData.properties
