# IntelliJ files
/.idea/$CACHE_FILE$
/.idea/csv-plugin.xml
/.idea/dataSources.xml
/.idea/dataSources.*.xml
/.idea/dataSources/
/.idea/dictionaries/
/.idea/gradle.xml
/.idea/httpRequests/
/.idea/libraries/Gradle__*.xml
/.idea/markdown*
/.idea/modules/
/.idea/sassLintPlugin.xml
/.idea/scssLintPlugin.xml
/.idea/shelf/
/.idea/sshConfigs.xml
/.idea/workspace.xml
/.idea/watcherTasks.xml

# External tools
.gradle/
.pnp.*
.yarn/*
**/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
/.vagrant/
/bin/swagger-codegen-cli*.jar
node_modules/
yarn-error.log
pgkb-tools/bin/node_modules/

**/.env
/cpic-data.wiki
/cpic-support-files/
/src/main/resources/cpicData.properties

# Temporary files
.DS_Store
._.DS_Store
/build
/logs
/out
