# IntelliJ files
/.idea/$CACHE_FILE$
/.idea/csv-plugin.xml
/.idea/dataSources.xml
/.idea/dataSources.*.xml
/.idea/dataSources/
/.idea/dictionaries/
/.idea/gradle.xml
/.idea/httpRequests/
/.idea/libraries/Gradle__*.xml
/.idea/markdown*
/.idea/modules/
/.idea/sassLintPlugin.xml
/.idea/scssLintPlugin.xml
/.idea/shelf/
/.idea/sshConfigs.xml
/.idea/workspace.xml
/.idea/watcherTasks.xml

.DS_Store
._.DS_Store

/.gradle
/build
/cpic-data.wiki
/logs
/out
/src/main/node/node_modules
/src/main/resources/cpicData.properties
